.table-div{
	width: 1500px; 
	margin-top 50px;
	margin: 0 auto;
}

#search_loginName{
	margin-right: 50px;
}
.icon-search{
	margin: 0 auto;
}

.lable-group{
	width: 120px;
}

.form-inline{
	margin-top: 10px;
}

.choice-group{
	margin-right: 10px;
}
modal-header{
	background-color: #0f76a2;	
}